<html>
<head>
</head>
<body>
    <form action="/signup" method="post">
        <h2>Signup</h2>
        <div class="input-field">
            <input type="text" name="id" id="id" placeholder="Enter User ID">
        </div>
        <div class="input-field">
            <input type="password" name="pswd" id="pswd" placeholder="Enter Password">
        </div>
        <div class="input-field">
            <input type="text" name="name" id="name" placeholder="Enter User name">
        </div>
        <input type="submit" value="Sign Up">
    </form>
</body>
</html>